<% include ./header/head %>
  <div class="container my-3">
    <h1>Register Now</h1>
    <form action="/register" method="post">
      <div class="mb-3 my-3">
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter user name" name="username">
      </div>
      <div class="mb-3 my-3">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email" name="email">
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password" name="password">
      </div>
    <div class="container mb-1">
    </div>
    <button type="submit" style="width: 100%;" class="btn btn-primary  btn-block ">Register Now</button>
  </form>
  <a href="/login" class="text-primary ">Login Now</a>
  </div>
<% include ./header/footer %>